<div id="music-controls-bar">
  <div id="player-buttons-container">
    <button id="play-button" class="music-controls-bar__button"><img
        src="../../../assets/icons/play/1x/baseline_play_arrow_black_24dp.png" alt="Reproducir/Pausar"></button>
    <button id="stop-button" class="music-controls-bar__button"><img
        src="../../../assets/icons/stop/1x/baseline_stop_black_24dp.png" alt="Parar"></button>
  </div>
  <input id="volume-input" type="range" value="100" min="0" max="100">
</div>